@import "@lana/web/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply flex justify-center items-center h-full w-full;
}

thead tr {
  @apply hover:!bg-card;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted-foreground) / 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground) / 0.5);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground) / 0.5);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
