dotenv

use flake .

export TF_VAR_name_prefix="${USER}"
export SA_CREDS_BASE64="${TF_VAR_sa_creds}"

export DATAFORM_SCHEMA_SUFFIX=${TF_VAR_name_prefix}

export DOCS_BUCKET_NAME="${USER}-lana-documents"
export REPORTS_BUCKET_NAME="${USER}-lana-documents"
