name: lana-bank

services:
  #! Telemetry
  otel-agent:
    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:0.133.0
    ports: [4317:4317, 4318:4318]
    environment:
      - HONEYCOMB_API_KEY=${INGEST_HONEYCOMB_API_KEY}
    command: --config=/etc/otel-agent-config.yaml
    volumes: ["./dev/otel-agent-config.yaml:/etc/otel-agent-config.yaml"]

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    ports: [8081:8080, 9000:9000]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-pg:5432/default
      KC_DB_USERNAME: dbuser
      KC_DB_PASSWORD: secret
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8081
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HOSTNAME_STRICT: "false"
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
      KC_TRACING_ENABLED: "true"
      KC_TRACING_ENDPOINT: http://otel-agent:4317
    command: start-dev --import-realm
    depends_on: [keycloak-pg]
    volumes:
      - "./dev/keycloak:/opt/keycloak/data/import"

  oathkeeper:
    image: oryd/oathkeeper:v0.40.8-distroless
    ports: [4455:4455, 4456:4456]
    environment:
      - TRACING_SERVICE_NAME=oathkeeper
      - TRACING_PROVIDER=otel
      - TRACING_PROVIDERS_OTLP_SERVER_URL=otel-agent:4318
      - TRACING_PROVIDERS_OTLP_INSECURE=true
      - TRACING_PROVIDERS_OTLP_SAMPLING_SAMPLING_RATIO=1.0
    command: serve -c /home/ory/oathkeeper.yml --sqa-opt-out
    volumes: ["./dev/ory:/home/ory"]
    depends_on: [keycloak, otel-agent]

  #! Databases
  core-pg:
    image: postgres:17.5
    ports: [5433:5432]
    environment:
      [POSTGRES_USER=user, POSTGRES_PASSWORD=password, POSTGRES_DB=pg]

  keycloak-pg:
    image: postgres:17.5
    ports: [5437:5432]
    environment:
      [POSTGRES_USER=dbuser, POSTGRES_PASSWORD=secret, POSTGRES_DB=default]
