services:
  dagster-code-location-lana-dw:
    build:
      context: ./dagster
      dockerfile: Dockerfile
    image: dagster-code-location-lana-dw:latest
    container_name: dagster-code-location-lana-dw
    restart: always
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      TARGET_BIGQUERY_DATASET: ${TARGET_BIGQUERY_DATASET:-}
      REPORTS_BUCKET_NAME: ${REPORTS_BUCKET_NAME:-}
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-agent:4317'
      DAGSTER_AUTOMATIONS_ACTIVE: ${DAGSTER_AUTOMATIONS_ACTIVE:-}
      LANA_PG_CON: 'postgres://user:password@core-pg:5432/pg'
      SUMSUB_KEY: ${SUMSUB_KEY:-}
      SUMSUB_SECRET: ${SUMSUB_SECRET:-}
      DBT_BIGQUERY_CREDENTIALS_JSON: ${DBT_BIGQUERY_CREDENTIALS_JSON:-}
      DBT_BIGQUERY_PROJECT: ${DBT_BIGQUERY_PROJECT:-}
      DBT_BIGQUERY_DATASET: ${DBT_BIGQUERY_DATASET:-}
      LANA_ADMIN_SERVER_URL: 'http://host.containers.internal:5253'
  # This service runs dagster-webserver, which loads your user code from the user code container.
  # Since our instance uses the QueuedRunCoordinator, any runs submitted from the webserver will be put on
  # a queue and later dequeued and launched by dagster-daemon.
  dagster_webserver:
    build:
      context: ./dagster
      dockerfile: Dockerfile_dagster
    entrypoint:
      - dagster-webserver
      - -h
      - '0.0.0.0'
      - -p
      - '3000'
      - -w
      - workspace.yaml
    container_name: dagster_webserver
    expose:
      - '3000'
    ports:
      - '3000:3000'
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
    volumes:
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    depends_on:
      dagster_postgres:
        condition: service_started
      dagster-code-location-lana-dw:
        condition: service_started

  # This service runs the dagster-daemon process, which is responsible for taking runs
  # off of the queue and launching them, as well as creating runs from schedules or sensors.
  dagster_daemon:
    build:
      context: ./dagster
      dockerfile: Dockerfile_dagster
    entrypoint:
      - dagster-daemon
      - run
    container_name: dagster_daemon
    restart: on-failure
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      LANA_ADMIN_SERVER_URL: 'http://host.containers.internal:5253'
    volumes:
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    depends_on:
      dagster_postgres:
        condition: service_started
      dagster-code-location-lana-dw:
        condition: service_started

  dagster_postgres:
    image: postgres:15
    container_name: dagster_postgres
    environment:
      POSTGRES_USER: 'postgres_user'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_DB: 'postgres_db'
