services:
  dagster-code-location-lana-dw:
    build:
      context: ./dagster
      dockerfile: Dockerfile
    image: dagster-code-location-lana-dw:latest
    container_name: dagster-code-location-lana-dw
    restart: always
    
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      # OpenTelemetry configuration
      # Use the otel-agent service name from the lana-bank_default network
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://lana-bank-otel-agent-1:4317'
      OTEL_SERVICE_NAME: 'dagster-lana-dw'
      # Set to match your Honeycomb environment name
      DEPLOYMENT_ENVIRONMENT: 'dev-pablo'

    networks:
      - lana-bank_default

  # This service runs dagster-webserver, which loads your user code from the user code container.
  # Since our instance uses the QueuedRunCoordinator, any runs submitted from the webserver will be put on
  # a queue and later dequeued and launched by dagster-daemon.
  dagster_webserver:
    build:
      context: ./dagster
      dockerfile: Dockerfile_dagster
    entrypoint:
      - dagster-webserver
      - -h
      - '0.0.0.0'
      - -p
      - '3000'
      - -w
      - workspace.yaml
    container_name: dagster_webserver
    expose:
      - '3000'
    ports:
      - '3000:3000'
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
    volumes:
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - lana-bank_default
    depends_on:
      dagster_postgres:
        condition: service_started
      dagster-code-location-lana-dw:
        condition: service_started

  # This service runs the dagster-daemon process, which is responsible for taking runs
  # off of the queue and launching them, as well as creating runs from schedules or sensors.
  dagster_daemon:
    build:
      context: ./dagster
      dockerfile: Dockerfile_dagster
    entrypoint:
      - dagster-daemon
      - run
    container_name: dagster_daemon
    restart: on-failure
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
    volumes:
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - lana-bank_default
    depends_on:
      dagster_postgres:
        condition: service_started
      dagster-code-location-lana-dw:
        condition: service_started

  dagster_postgres:
    image: postgres:15
    container_name: dagster_postgres
    environment:
      POSTGRES_USER: 'postgres_user'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_DB: 'postgres_db'
    networks:
      - lana-bank_default

networks:
  lana-bank_default:
    external: true  # This network is created by the main docker-compose.yml
