[package]
name = "admin-server"
license = "BUSL-1.1"
edition = "2024"

[features]

fail-on-warnings = []
mock-custodian = ["lana-app/mock-custodian"]
sumsub-testing = ["lana-app/sumsub-testing", "admin-graphql-session/sumsub-testing"]

[dependencies]
lana-app = { workspace = true }
admin-graphql-access = { workspace = true }
admin-graphql-accounting = { workspace = true }
admin-graphql-audit = { workspace = true }
admin-graphql-config = { workspace = true }
admin-graphql-contracts = { workspace = true }
admin-graphql-customer = { workspace = true }
admin-graphql-credit = { workspace = true }
admin-graphql-custody = { workspace = true }
admin-graphql-documents = { workspace = true }
admin-graphql-deposit = { workspace = true }
admin-graphql-governance = { workspace = true }
admin-graphql-price = { workspace = true }
admin-graphql-reports = { workspace = true }
admin-graphql-session = { workspace = true }
admin-graphql-shared = { workspace = true }
domain-config = { workspace = true, features = ["graphql"] }
obix = { workspace = true }
audit = { workspace = true }
tracing-utils = { workspace = true, features = ["http"] }
jwks-utils = { workspace = true }

es-entity = { workspace = true, features = ["graphql"] }

uuid = { workspace = true }
url = { workspace = true }
base64 = { workspace = true }
async-graphql = { workspace = true }
async-graphql-axum = { workspace = true }
axum = { workspace = true }
tower-http = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
anyhow = { workspace = true }

futures = { workspace = true }
