[package]
name = "admin-server"
license = "BUSL-1.1"
edition = "2024"

[features]

fail-on-warnings = []
mock-custodian = ["lana-app/mock-custodian"]
sumsub-testing = ["lana-app/sumsub-testing", "admin-graphql-customer/sumsub-testing"]

[dependencies]
lana-app = { workspace = true }
admin-graphql-access = { path = "../admin-graphql-access" }
admin-graphql-accounting = { path = "../admin-graphql-accounting" }
admin-graphql-credit = { path = "../admin-graphql-credit" }
admin-graphql-custody = { path = "../admin-graphql-custody" }
admin-graphql-customer = { path = "../admin-graphql-customer" }
admin-graphql-deposit = { path = "../admin-graphql-deposit" }
admin-graphql-governance = { path = "../admin-graphql-governance" }
admin-graphql-shared = { path = "../admin-graphql-shared" }
domain-config = { workspace = true, features = ["graphql"] }
obix = { workspace = true }
audit = { workspace = true }
tracing-utils = { workspace = true, features = ["http"] }
jwks-utils = { workspace = true }

es-entity = { workspace = true, features = ["graphql"] }

uuid = { workspace = true }
url = { workspace = true }
base64 = { workspace = true }
async-graphql = { workspace = true }
async-graphql-axum = { workspace = true }
axum = { workspace = true }
tower-http = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
chrono = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
anyhow = { workspace = true }

futures = { workspace = true }

