[package]
name = "rbac-types"

license = "BUSL-1.1"
edition = "2024"

[features]
fail-on-warnings = []

[dependencies]
dashboard = { workspace = true }
pdf-generation = { workspace = true }

governance = { workspace = true }
core-access = { workspace = true }
core-customer = { workspace = true }
core-credit = { workspace = true }
core-credit-terms = { workspace = true }
core-custody = { workspace = true }
core-deposit = { workspace = true }
core-accounting = { workspace = true }
core-report = { workspace = true }
audit = { workspace = true }
authz = { workspace = true }
domain-config = { workspace = true }

async-graphql = { workspace = true }
strum = { workspace = true }
uuid = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-utils = { workspace = true }
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

[dev-dependencies]
anyhow = { workspace = true }
