[package]
name = "user-onboarding"

license = "BUSL-1.1"
edition = "2024"

[package.metadata.cargo-machete]
ignored = ["es-entity"]

[features]
fail-on-warnings = []

[dependencies]
core-access = { workspace = true }

obix = { workspace = true }
job = { workspace = true }
keycloak-client = { workspace = true }

async-trait = { workspace = true }
es-entity = { workspace = true, features = ["graphql"] }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-macros = { workspace = true }
tracing-utils = { workspace = true }
