[package]
name = "lana-cli"
license = "BUSL-1.1"
edition = "2024"
build = "build.rs"

[features]

sim-bootstrap = ["dep:sim-bootstrap"]
mock-custodian = ["admin-server/mock-custodian"]
sumsub-testing = ["lana-app/sumsub-testing", "admin-server/sumsub-testing"]

fail-on-warnings = []

[build-dependencies]
chrono = { workspace = true }

[dependencies]
lana-app = { workspace = true }
admin-server = { workspace = true }
customer-server = { workspace = true }
lana-admin-cli = { workspace = true }

sim-bootstrap = { workspace = true, optional = true }

tracing-utils = { workspace = true, features = ["http"] }

es-entity = { workspace = true }

anyhow = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
base64 = { workspace = true }
clap = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
tokio = { workspace = true }
sqlx = { workspace = true }
log = { workspace = true }
hex = { workspace = true }
chacha20poly1305 = { workspace = true }
rustls = { workspace = true }
