name: Check default config

on:
  pull_request:
    branches:
      - main
      - "feature/**"

jobs:
  check-default-config:
    name: Check default config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v16
      - uses: cachix/cachix-action@v15
        with:
          name: galoymoney
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipPush: true
      - run: nix develop -c make generate-default-config
      - run: git diff --exit-code dev/lana.default.yml
