name: "Conventional Commit Check"

on: 
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  pr_title_check:
    runs-on: ubuntu-latest
    name: check PR title conventional commit compliance
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

